.feed_status {
  width: 90%;
  margin: 1rem auto;
}

.feed_status form {
  display: flex;
  align-items: center;
}

.feed_status form * {
  margin: 0 0.5rem;
}

.feed_control {
  text-align: center;
}

.feed_footer {
  display: flex;
  justify-content: space-around;
}

.new-post_preview-image {
  width: 15rem;
  /* height: 7rem; */
}

@media (min-width: 768px) {
  .feed_status {
    width: 30rem;
  }
}
