.post {
  margin: 1rem 0;
  border: 1px solid black;
  background-color: #44475a;
  border-radius: 5px;
  padding: 0.5rem;
}

.post__meta {
  font-size: 1rem;
  color: black;
  margin: 0;
  display: inline;
}

.post__image {
  height: 7rem;
  display: inline;
  /* width: auto; */
}

.post__content {
  display: inline;
  font-size: 20px;
}

.post__actions {
  text-align: right;
  display: inline;
  float: right;
}

@media (min-width: 768px) {
  .post {
    padding: 1rem;
    width: 55rem;
    margin-left: auto;
    margin-right: auto;
  }
}
